<section class="articles-section">
    <div *ngIf="loading; else articlesContent" class="loader"></div>
    <ng-template #articlesContent>
        <div class="articles-container">
            <div class="categories-sidebar">
                <h3>Categorías</h3>
                <button
                    mat-raised-button
                    color="primary"
                    (click)="openCreateCategoryModal()"
                >
                    Crear Nueva Categoría
                </button>
                <ul>
                    <li
                        *ngFor="let category of categories"
                        (click)="selectCategory(category)"
                        [class.active]="category.id === selectedCategory?.id"
                    >
                        {{ category.name }}
                        <button
                            mat-icon-button
                            color="warn"
                            (click)="openDeleteCategoryModal(category)"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button
                            mat-icon-button
                            color="primary"
                            (click)="openEditCategoryModal(category)"
                        >
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button
                            mat-icon-button
                            color="primary"
                            (click)="decrementCategoryOrder(category.id)"
                            [disabled]="category.orderNumber == 1"
                        >
                            <mat-icon>arrow_upward</mat-icon>
                        </button>
                        <button
                            mat-icon-button
                            color="primary"
                            (click)="incrementCategoryOrder(category.id)"
                            [disabled]="
                                category.orderNumber == categories.length
                            "
                        >
                            <mat-icon>arrow_downward</mat-icon>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="articles-list">
                <div class="articles-header">
                    <h2>{{ selectedCategory?.name }}</h2>
                    <button
                        mat-raised-button
                        color="primary"
                        (click)="openAddArticleModal()"
                    >
                        Agregar Nuevo Artículo
                    </button>
                </div>
                <div class="article-card" *ngFor="let article of articles">
                    <div class="card-image-wrapper">
                        <img
                            [src]="returnFirstImage(article)"
                            [alt]="article.name"
                        />
                    </div>
                    <div class="card-content">
                        <h3>{{ article.name }}</h3>
                        <p>{{ article.description }}</p>
                    </div>
                    <div class="card-actions">
                        <button
                            mat-raised-button
                            color="primary"
                            (click)="viewDetails(article.id)"
                        >
                            Más Información
                        </button>
                        <button
                            mat-raised-button
                            color="accent"
                            (click)="openEditArticleModal(article.id)"
                        >
                            Editar
                        </button>
                        <button
                            mat-raised-button
                            color="warn"
                            (click)="
                                openDeleteArticleModal(
                                    article.id,
                                    article.name,
                                    article.description
                                )
                            "
                        >
                            Eliminar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</section>
