<section class="articles-section">
    <div *ngIf="loading; else articlesContent" class="loader"></div>
    <ng-template #articlesContent>
        <div class="articles-container">
            <div class="categories-sidebar">
                <h3>Categorías</h3>
                <button
                    mat-raised-button
                    color="primary"
                    (click)="openCreateCategoryModal()"
                >
                    Crear Nueva Categoría
                </button>
                <ul>
                    <li
                        *ngFor="let category of categories"
                        (click)="selectCategory(category)"
                        [class.active]="category.id === selectedCategory?.id"
                    >
                        {{ category.name }}
                        <button
                            mat-icon-button
                            color="warn"
                            (click)="openDeleteCategoryModal(category)"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="articles-list">
                <h2>{{ selectedCategory?.name }}</h2>
                <div class="article-card" *ngFor="let article of articles">
                    <div class="card-image-wrapper">
                        <img
                            [src]="returnFirstImage(article)"
                            [alt]="article.name"
                        />
                    </div>
                    <div class="card-content">
                        <h3>{{ article.name }}</h3>
                        <p>{{ article.description }}</p>
                    </div>
                    <div class="card-actions">
                        <button
                            mat-raised-button
                            color="primary"
                            class="mat-elevation-z4"
                            (click)="viewDetails(article.id)"
                        >
                            Más Información
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</section>
