<header>
    <mat-toolbar color="primary">
        <div class="header-container">
            <span class="logo" routerLink="/">
                <img src="assets/logo.png" alt="Logo" height="60" />
            </span>
            <span class="title" routerLink="/">Astefil Inflables</span>
            <span class="spacer"></span>
            <nav mat-tab-nav-bar>
                <a mat-tab-link routerLink="/" routerLinkActive="active"
                    >Inicio</a
                >
                <a mat-tab-link routerLink="/articles" routerLinkActive="active"
                    >Inflables</a
                >
                <a mat-tab-link routerLink="/contact" routerLinkActive="active"
                    >Contacto</a
                >
                <a
                    mat-tab-link
                    routerLink="/coverage_zones"
                    routerLinkActive="active"
                    >Zonas de Covertura</a
                >
                <a
                    *ngIf="isEmployeeOrAdmin$ | async"
                    mat-tab-link
                    routerLink="/consultations"
                    routerLinkActive="active"
                    >Consultas</a
                ><a
                    *ngIf="isAdmin$ | async"
                    mat-tab-link
                    routerLink="/employees"
                    routerLinkActive="active"
                    >Empleados</a
                >
                <a
                    *ngIf="!(isLoggedIn$ | async)"
                    mat-tab-link
                    routerLink="/login"
                    routerLinkActive="active"
                    >Log In</a
                >
                <button *ngIf="isLoggedIn$ | async" mat-tab-link>
                    {{ username$ | async }}
                </button>
                <button
                    *ngIf="isLoggedIn$ | async"
                    mat-tab-link
                    (click)="logout()"
                >
                    Log Out
                </button>
            </nav>
        </div>
    </mat-toolbar>
</header>
