.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 24px;
}

.logo {
    margin-right: 24px;
}

.title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.spacer {
    flex: 1 1 auto;
}

mat-tab-link {
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 16px;
}

mat-tab-link.active {
    border-bottom: 2px solid white;
}