.coverage-zone-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100vh;
}

.map-container {
    width: 50%;
    height: 80%;
    margin: 20px;
}

.coverage-zones-list {
    width: 30%;
    padding: 20px;
    background-color: #f5f5f5;
    max-height: 80vh;
    /* Limita la altura de la lista para que no desborde */
    overflow-y: auto;
    /* Agrega un scroll vertical cuando se supera el tamaño máximo */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Ajustes adicionales para un scroll suave */
.coverage-zones-list::-webkit-scrollbar {
    width: 8px;
    /* Tamaño de la barra de desplazamiento */
}

.coverage-zones-list::-webkit-scrollbar-thumb {
    background-color: #ccc;
    /* Color de la barra de desplazamiento */
    border-radius: 4px;
}

.coverage-zones-list::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
    /* Color de la barra al pasar el cursor */
}

.coverage-zones-list h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.coverage-zones-list ul {
    list-style-type: none;
    padding: 0;
}

.coverage-zones-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s;
}

.coverage-zones-list li:hover {
    background-color: #f0f0f0;
}

.zone-name {
    flex: 1;
}

.zone-buttons {
    display: flex;
    gap: 5px;
}

.zone-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.zone-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}

.zone-buttons button mat-icon {
    font-size: 1.2em;
}