<div class="coverage-zone-container">
    <!-- Mapa -->
    <div id="map" class="map-container"></div>

    <!-- Lista de Zonas de Cobertura -->
    <div class="coverage-zones-list">
        <h2>Zonas de Cobertura</h2>
        <button
            *ngIf="isAdmin$ | async"
            mat-raised-button
            color="primary"
            (click)="openCreateZoneModal()"
        >
            Agregar Nueva Zona
        </button>
        <ul>
            <li *ngFor="let zone of zones">
                {{ zone.name }}
                <button
                    *ngIf="isAdmin$ | async"
                    mat-icon-button
                    color="accent"
                    (click)="openEditZoneModal(zone)"
                >
                    <mat-icon>edit</mat-icon>
                </button>
                <button
                    *ngIf="isAdmin$ | async"
                    mat-icon-button
                    color="warn"
                    (click)="openDeleteZoneModal(zone)"
                >
                    <mat-icon>delete</mat-icon>
                </button>
            </li>
        </ul>
    </div>
</div>
