<section *ngIf="selectedArticle" class="article-detail-section">
    <div class="article-detail-container">
        <button
            mat-raised-button
            color="primary"
            class="mat-elevation-z4"
            (click)="goBack()"
        >
            Volver a la lista
        </button>
        <h2>{{ selectedArticle.name }}</h2>
        <p>{{ selectedArticle.description }}</p>
        <owl-carousel-o [options]="carouselOptions">
            <ng-container *ngFor="let image of selectedArticle.images">
                <ng-template carouselSlide>
                    <img
                        [src]="image"
                        [alt]="selectedArticle.name"
                        class="carousel-image"
                    />
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
</section>
